/* Standard Styles for the Gallery */
.GalleryScroll {
    display: flex;
    flex-wrap: wrap;
  }
  
  .GalleryItem {
    margin: 10px;
    transition: transform 0.3s ease;
  }
  
  .GImage {
    max-width: 200px;
    cursor: pointer;
  }
  
  .GImage.enlarged {
    max-width: 80%;
    transition: max-width 0.3s ease;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
  }
  